<footer class="page-footer">
  <div class="icons-container">
    <span class="item">
      <a tabindex (click)="goToHome()"><i class="material-icons">home</i></a>
    </span>
    <span class="item">
      <a tabindex (click)="goToHome()"><i class="material-icons">phone</i></a>
    </span>
    <span class="item">
      <a href="https://www.facebook.com"><img class="icon-images" src="assets/logo-facebook.svg" /></a>
    </span>
    <span class="item">
      <a href="https://www.twitter.com"><img class="icon-images" src="assets/logo-twitter.svg" /></a>
    </span>
    <span class="item">
      <a href="https://www.instagram.com"><img class="icon-images" src="assets/logo-instagram.svg" /></a>
    </span>
  </div>

  <div>
    <i class="fa fa-copyright"></i> Copyright: Boiler Plate for Angular
  </div>
</footer>