<div class="navbar-custom">
  <div class="nav-item" (click)="goToDashboard()">
    <i class="material-icons">dashboard</i>
    @if (isOpen()) {
      <div class="row">Dashboard</div>
    }
  </div>

  <div class="nav-item" (click)="activateReports()">
    <i class="material-icons">list_alt</i>
    @if (isOpen()) {
      <div class="row">
        <span>Reports</span>
        @if (!showReports()) {
          <i class="material-icons">keyboard_arrow_down</i>
        }
        @if (showReports()) {
          <i class="material-icons">keyboard_arrow_up</i>
        }
      </div>
    }
  </div>
  @if (showReports()) {
    <div>
    <div class="nav-item margin-left" (click)="goToReportOne()">
        <i class="material-icons">description</i>
      @if (isOpen()) {
        <div class="row">Report One</div>
      }
    </div>
    <div class="nav-item margin-left" (click)="goToReportTwo()">
        <i class="material-icons">view_list</i>
      @if (isOpen()) {
        <div class="row">Report Two</div>
      }
    </div>
    </div>
  }
</div>