.navbar-custom {
  width: 160px;
    .margin-left {
      margin-left: 20px;
    }
  }
  
  .nav-item {
    display: flex;
    cursor: pointer;
    line-height: 24px;
    padding: 12px;
    .row {
      display: flex;
      margin-left: 10px;
      &:hover {
        color: #999c9c;
      }
    }
  }
  