.container-forgot {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  .forgot-title {
      margin-bottom: 40px;
      text-align: center;
  }
  .forgot-form {
    padding: 40px;
    display: grid;
    .forgot-form-btn {
      display: grid;
      margin-top: 20px;
      justify-content: space-evenly;
      grid-template-columns: auto auto;
    }
  }
  .login {
    margin-top: 50px;
    text-align: center;
  }
}
