<div class="container-forgot">
  <form [formGroup]="forgotForm" (ngSubmit)="forgot()">

    <mat-card>
      <mat-card-subtitle class="forgot-title">Forgot Password Page</mat-card-subtitle>
      <div class="forgot-form">
        <mat-form-field>
          <input matInput placeholder="Mobile Number" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>

        <div class="forgot-form-btn">
            <button mat-button mat-raised-button color="primary" (click)="forgot()">Reset</button>
            <button mat-button mat-raised-button color="secondary" (click)="resetForm()">Cancel</button>
          </div>
      </div>
    </mat-card>
  </form>

  <div class="login">
      <button mat-stroked-button (click)="goToLogin()">Go back to login</button>
  </div>
</div>